header{
    background-color: #2A385E;
    border-radius: 8px;
}

h1.title{
     display: flex;
    justify-content: center;
    color: white;
}

img{
    display: block;
    margin: auto;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

/* Custom Angular Fix */
@media (max-width: 991.98px) {
  .navbar-collapse {
    transition: max-height 0.4s ease-in-out;
    max-height: 0;
    display: block !important; /* Overwrite Bootstrap's display:none */
    overflow: hidden;
  }

  .navbar-collapse.show {
    max-height: 500px; /* Set this to a value larger than your menu */
  }

}
  /* 1. Ensure the sticky element is at the very top of the stacking order */
.sticky-top {
  top: 0;
  z-index: 1020; 
  background-color: #f8f9fa !important; /* Matches bg-body-tertiary */
}

/* 2. Optional: If you want the title to stay too, apply it to the header instead */
header {
  position: -webkit-sticky; /* Support for Safari */
  position: sticky;
  top: -150px; /* This "hides" the logo/title but stops the nav at the top */
}