<app-header></app-header>
<main>

    <h1>Estado de Casos</h1>

<p>Aqui podras ver el progreso de tu caso</p>

<section>
        <nav class="navbar bg-body-tertiary">
  <div class="container-fluid" >
    <form class="d-flex" role="search" (ngSubmit)="findCase()">
      <input name="codigoStatus" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  [(ngModel)]="codigoStatus"/>
      <button  class="btn btn-outline-success" (click)="toggle()" type="submit">Search</button>
    </form>
  </div>
</nav>
</section>

<div>
     @if(isCodeEntered) {
       @if (isShown()) {
         <div class="enter-container" animate.enter="enter-animation">
       <section>
    <table class="vertical-table">
        <tr>
            <th>Nombre</th>
            <td>{{caseData.name}}</td>
        </tr>
        <tr>
            <th>Apellido</th>
            <td>{{caseData.lastName}}</td>
        </tr>
        <tr>
            <th>Fecha</th>
            <td>{{caseData.date | date:'short' }}</td>
        </tr>
       
        <tr>
            <th>Estado del caso</th>
            
            <td>
                <span class="status-badge">{{caseData.status}}</span>
            </td>
        </tr> 
        
        <tr>
            <th>Descripción</th>
            <td>{{caseData.description}}</td>
        </tr>


    </table>
</section>
        </div>    
    }
}

</div>

<div class="result-area">
    <!-- ERROR MESSAGE: Ensuring high visibility and accessibility -->
    @if (errorMessage()) {
      <div class="error-box" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
        </svg>
        <span>{{ errorMessage() }}</span>
      </div>
    }
</div>
</main>

<app-footer></app-footer>